<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='wavesurfer/ribbon.css') }}" />
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

        <title>Audio Labeler</title>

                <!-- wavesurfer.js -->
                <script src="{{ url_for('static', filename='wavesurfer/wavesurfer.min.js') }}"></script>
                <script src="{{ url_for('static', filename='wavesurfer/wavesurfer.regions.min.js') }}"></script>
                <script src="{{ url_for('static', filename='wavesurfer/wavesurfer.regions.js') }}"></script>
                <script src="{{ url_for('static', filename='wavesurfer/wavesurfer.timeline.min.js') }}"></script>
                <script src="{{ url_for('static', filename='wavesurfer/wavesurfer.minimap.min.js') }}"></script>

                <script>
                var wavesurfer = Object.create(WaveSurfer);
                var starttime = 0;
                var endtime = 1;
                var audio_file_id = '{{ audio_file_id }}';

                wavesurfer.on('ready', function () {
                    wavesurfer.addRegion({
                        start: starttime,
                        end: endtime,
                        color: 'hsla(400, 100%, 30%, 0.1)',
                        drag: false
                    });
                    wavesurfer.play(starttime,endtime)

                });


                // Init & load audio file
                document.addEventListener('DOMContentLoaded', function () {
                    // Init
                    wavesurfer.init({
                        container: document.querySelector('#waveform'),
                        waveColor: '#A8DBA8',
                        progressColor: '#3B8686',
                        backend: 'MediaElement',

                    });

                    // Load audio from URL
                    wavesurfer.load('{{ url_for('static', filename=temp_wav_filename) }}');

                                document.querySelector(
                                        '[data-action="play"]'
                                    ).addEventListener('click', wavesurfer.playPause.bind(wavesurfer));
                                document.querySelector(
                                        '[data-action="repeat"]'
                                    ).addEventListener('click', wavesurfer.play.bind(wavesurfer,starttime,endtime));

                                });

                window.onload = function() {
                     document.getElementById("apply_button").focus();
                };


                </script>

    </head>
    <body>
        <div id="container">
            <div class="title">
            <br />
            <br />
            <h1>Audio Labeler</h1>
            <br />
            <br />
        </div>
        <div id="content">

                <div class="container">
                <div id="waveform">
                    <!-- Here be the waveform -->
                </div>

                <div class="controls">
                    <button class="btn btn-primary" data-action="play">
                        <i class="glyphicon glyphicon-play"></i>
                        Play
                        /
                        <i class="glyphicon glyphicon-pause"></i>
                        Pause
                    </button>
                    <button class="btn btn-repeat" data-action="repeat">
                        Repeat
                    </button>
            </div>

            <br />

            <h3> {{ media_path.split('/')[-1] }} </h3>

            <h4>    {{ start_time }} seconds</h4>

              <h3>
                <form method="post" action="{{ url_for('form') }}">

                    <input type="hidden" value="{{ audio_file_id }}" name="audio_file_id" />

                    <input type="hidden" value="{{ start_time }}" name="start_time" />

                    <input type="hidden" value="{{ temp_wav_filename }}" name="temp_wav_filename" />

                    <input type="text" size="70" value="{{ classname }}" name="classname" />
                    <input type="submit" name="button" id="apply_button" value="Apply Label" />

                    <br /><br />

                  <input type="submit" name="button" value="Background Speaker" />
                  <input type="submit" name="button" value="Music" />
                  <input type="submit" name="button" value="Silence" />
                  <input type="submit" name="button" value="Multiple Speakers" />
                  <input type="submit" name="button" value="Noise" />
                  <input type="submit" name="button" value="Not Sure" />

                  <br /><br />
                  {% for pair in label_counts %}
                      <input type="submit" name="button" value="{{ pair[0] }}" />
                  {% endfor %}


                </form>
            </h3>
            <br /><br />
            <p>
                <a href="/static/output/output_table.csv">Download current CSV</a>
            </p>
            </div>
        </div>
    </body>
</html>
